/*DESKTOP STYLES*/

/* Global */

  /* Colours */
  $purple-dark: #505CC1;
  $purple-light: #546ED0;
  $gray-dark: #292929;
  $gray-light: #3D3D3D;
  $green-dark: #5CDB95;
  $green-light: #68EDA4;
  $light-blue: #29FFE0;
  $off-white-1: #fffefc;
  $off-white-2: #E3E3E3;
  $nav-dark: #969696;
  $link: #FFC1C1;
  $link-hover: #FFB4B4;

  /* Fonts */
  $font-main: Dosis, sans-serif;
  $font-landing: Varela Round, sans-serif;
  $font-greeting: Noto Sans SC, sans-serif;

  /* Removes all margins, borders and padding globally */
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  /* Sets scroll behaviour and snapping */
  html {
    scroll-behavior: smooth;
  }

  body {
    scroll-snap-type: y mandatory;
  }

  /* Defines common attributes of each section */
  %section {
    height: 100vh;
    overflow: scroll;
    scroll-snap-align: start;
  }

  %section-title {
    font-family: $font-main;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    text-align: center;
    padding: 2vh;
  }

/* Section One - Landing */
  #section-one {
    @extend %section;
    background-color: midnightblue;
    background-image: linear-gradient(180deg, #0B1463 0%, rgba(119, 118, 166, 0.28) 50%, rgba(238, 238, 238, 0.6) 97%), url("../images/SH Gaussian Blur.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #nav-div {
    height: 5vh;
  }

  #nav-ul {
    display: flex;
    justify-content:center;
    list-style-type:none;
    a {
      text-decoration: none;
      font-family: $font-landing;
      font-size: 12px;
      color: $nav-dark;
      transition: color 0.3s;
    }
    a:visited {
      color: $nav-dark;
    }

    a::before,
    a::after {
      display: inline-block;
      opacity: 0;
      /*-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;*/
      transition: transform 0.3s, opacity 0.2s;
    }

    a::before {
      margin-right: 10px;
      content: '[';
      /*-webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);*/
      transform: translateX(20px);
    }

    a::after {
      margin-left: 10px;
      content: ']';
      /*-webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);*/
      transform: translateX(-20px);
    }

    a:hover {
      color: white;
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
      opacity: 1;
      /*-webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);*/
      transform: translateX(0px);
    }
  }

  .nav-element {
    padding: 20px;
  }

  .container-landing {
    width: 100vw;
    display: flex;
  }

  .container {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
  }

  #figurine {
    width: 50vw;
    background-image: url("../Inspiration/jon-exploded-face-on-1.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    height: 95vh;
  }

  #greeting {
    width: 50vw;
    margin-top: 2vh;
    h1 {
      font-size: 144px;
      font-family: $font-greeting;
      color: white;
    }
    h2 {
      color: $light-blue;
      font-size: 66px;
      font-family: $font-landing;
      letter-spacing: 0.07em;
    }
    h4{
      color: $off-white-1;
      font-size: 34px;
      font-family: $font-landing;
      line-height: 50px;
    }
  }

  #text-offset {
    margin-left: 0.5vw;
  }

  #noun-labels {
    margin-top: 4vh;
  }

/* Section Two - Who I Am */
  #section-two {
    @extend %section;
    background-image: linear-gradient(170deg, $purple-dark 62%, $purple-light 62%);

    h1{
      @extend %section-title;
    }
  }

  #blurb {
    height: 100%;
    width: 60vw;
    padding: 2em;
    p {
      text-align: justify;
      font-family: $font-landing;
      color: $off-white-2;
      font-size: 2vmin;
    }
    a {
      color: $link;
      text-decoration: none;
    }
    a:hover {
      color: $link-hover;
    }
    a:visited {
      color: $link;
    }
  }

  #snapshots {
    height: inherit;
    width: 40vw;
    position: relative;
    padding: 2em;
    /*object-fit: contain;*/
  }

  %snapshot {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /*height:45vh;*/
    /*max-height: 100%;*/
    max-width: 90%;
    position: absolute;
    transform-origin: right;
  }

  #snapshot-one {
    @extend %snapshot;
    transform: scale(0.75) rotate(3.25deg);
    right: 8%;
    top: 1vw;
  }

  #snapshot-two {
    @extend %snapshot;
    transform-origin: left;
    transform: scale(0.65) rotate(-1.55deg);
    left: 8%;
    top: 26vh;
  }

  #snapshot-three {
    @extend %snapshot;
    transform: scale(0.45) rotate(5.95deg);
    right: 8%;
    top: 37vh;
  }


/* Section Three - Skill Set */
  #section-three {
    @extend %section;
    background-image: linear-gradient(170deg, $gray-dark 62%, $gray-light 62%);

    h1{
      @extend %section-title;
    }
  }


/* Section Four - Projects */
  #section-four {
    @extend %section;
    background-image: linear-gradient(170deg, $green-dark 62%, $green-light 62%);

    h1{
      @extend %section-title;
    }
  }


/* Section Five - Contact */
  #section-five {
    @extend %section;

    h1{
      @extend %section-title;
    }
  }

  #v-tail {
    height: 35vh;
    background-color: $green-light;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }










@media screen and (max-width: 991px) {
/* start of large tablet styles */

}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
/* start of phone styles */

}
