/*DESKTOP STYLES*/

/* Global */

  /* Colours */
  $blue-dark: #1b306b;
  $gray-dark: #292929;
  $purple-dark: #601f88;
  $light-blue: #3fe2ff;
  $off-white-1: #fffefc;
  $off-white-2: #E3E3E3;
  $highlight-lighter: #bc5cd4;
  $highlight-darker: #b03bbe;
  $highlight-strong-lighter: #de3636;
  $highlight-strong-darker: #ca3232;
  $nav-dark: #969696;
  $link: #FFC1C1;
  $envelope-top: #e5e1ea;
  $envelope-bottom: #d4ceda;
  $social-media: #1b306b;
  $social-media-hover: #dc7777;

  /* Fonts */
  $font-main: Oxygen, sans-serif;
  $font-greeting: Noto Sans SC, sans-serif;
  $font-envelope: Satisfy, cursive;

  /* Background patterns */
  $diamonds: url("../images/white-diamond.png");

  /* Removes all margins, borders and padding globally */
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  /* Sets scroll behaviour and snapping */
  html {
    scroll-behavior: smooth;
  }

  body {
    scroll-snap-type: y mandatory;
    background-color: #edebf0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dfd7ea' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }

  /* Defines common attributes of each section */
  %section {
    height: 100vh;
    overflow: scroll;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

  %section-title {
    font-family: $font-main;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 8vmin;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }

  /* Scroll down arrow */
  a span {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    width: 3vmin;
    height: 3vmin;
    border-left: 3px solid $off-white-2;
    border-bottom: 3px solid $off-white-2;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
/*  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }*/
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }


/* Section One - Landing */
  #section-one {
    @extend %section;
    position: relative;
    z-index: 1;
    background-color: midnightblue;
    background-image: linear-gradient(180deg, #0B1463 0%, rgba(119, 118, 166, 0.28) 50%, rgba(238, 238, 238, 0.6) 97%), url("../images/SH_gaussian_progressive.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #nav-div {
    height: 5vh;
  }

  #nav-ul {
    display: flex;
    justify-content:center;
    list-style-type:none;
    a {
      text-decoration: none;
      font-family: $font-main;
      font-weight: 700;
      font-size: 12px;
      color: $nav-dark;
      transition: all 0.3s;
    }
    a:visited {
      color: $nav-dark;
    }

    a::before,
    a::after {
      display: inline-block;
      opacity: 0;
      /*-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;*/
      transition: transform 0.3s, opacity 0.2s;
    }

    a::before {
      margin-right: 10px;
      content: '[';
      /*-webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);*/
      transform: translateX(20px);
    }

    a::after {
      margin-left: 10px;
      content: ']';
      /*-webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);*/
      transform: translateX(-20px);
    }

    a:hover {
      color: white;
      letter-spacing: 1px;
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
      opacity: 1;
      /*-webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);*/
      transform: translateX(0px);
    }
  }

  .nav-element {
    padding: 20px;
  }

  .container-landing {
    width: 100vw;
    display: flex;
  }

  .container {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
  }

  #figurine {
    width: 42vw;
    background-image: url("../images/stuart.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 4vw;
    height: 95vh;
  }

  #greeting {
    width: 58vw;
    margin-top: 5vh;
    h1 {
      font-size: 17vmin;
      font-family: $font-greeting;
      color: white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    h2 {
      color: $light-blue;
      font-size: 10vmin;
      font-family: $font-main;
      letter-spacing: 0.10em;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    h4{
      color: $off-white-1;
      font-size: 4.5vmin;
      font-family: $font-main;
      line-height: 8vmin;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  #text-offset {
    margin-left: 0.5vw;
    margin-top: 28vh;
  }

  #noun-labels {
    margin-top: 4vh;
  }









  .word {
    position: absolute;
    width: 50%;
    opacity: 0;
  }

  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }

  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .letter.behind {
    transform: rotateX(-90deg);
  }

  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
























/* Section Two - Who I Am */
  #section-two {
    @extend %section;
    position: relative;
    z-index: 1;
    background-color: $blue-dark;
    background-image: $diamonds;

    h1{
      @extend %section-title;
    }
  }

  #blurb {
    height: 100%;
    width: 63vw;
    padding: 1em 3em 2em 2em;
    p {
      text-align: justify;
      font-family: $font-main;
      font-weight: 400;
      color: $off-white-2;
      font-size: 1.6vmin;
      line-height: 2.4vmin;
    }
    a {
      color: $link;
      text-decoration: none;
    }
    a:visited {
      color: $link;
    }
  }

  .highlight {
      background-image: linear-gradient(to left, $highlight-lighter 0%, $highlight-darker 100%);
  }

  .highlight-strong {
      background-image: linear-gradient(to left, $highlight-strong-lighter 0%, $highlight-strong-darker 100%);
      font-size: 2.2vmin;
  }

  #snapshots {
    height: inherit;
    width: 40vw;
    position: relative;
    padding: 2em 0em 2em 2em;
  }

  %snapshot {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

    /*height:45vh;*/
    /*max-height: 100%;*/
    max-width: 90%;
    position: absolute;
    transform-origin: right;
  }

  #snapshot-one {
    @extend %snapshot;
    transform: scale(0.75) rotate(3.25deg);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
    right: 8%;
    top: -1vw;
  }

  #snapshot-two {
    @extend %snapshot;
    transform-origin: left;
    transform: scale(0.65) rotate(-1.55deg);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
    left: 8%;
    top: 22vh;
  }

  #snapshot-three {
    @extend %snapshot;
    transform: scale(0.45) rotate(5.95deg);
    border: 5px solid #FFFFFF;
    box-shadow: 0px 11px 5px rgba(0, 0, 0, 0.25);
    right: 8%;
    top: 33vh;
  }


/* Section Three - Skill Set */
  #section-three {
    @extend %section;
    position: relative;
    z-index: 1;
    background-color: $gray-dark;
    background-image: $diamonds;

    h1{
      @extend %section-title;
    }

    h5{
      text-align: center;
      font-family: $font-main;
      color: $off-white-2;
      font-size: 2vmin;
    }

    .container {
      height: 80vh;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  $skill-size: 14vh;

  .skill {
    flex: 0 0 $skill-size;
    padding: 0 5vw 0 5vw;
    h5 {
      text-align: center;
      font-family: $font-main;
      color: $off-white-2;
      font-size: 2vmin;
      margin-top: 2vh;
    }
  }

  .png {
    width: $skill-size;
  }

  #pen-paper {
    color: $link;
  }

/* Section Four - Recent Projects */
  #section-four {
    @extend %section;
    position: fixed;
    z-index: 1;
    background-color: $purple-dark;
    background-image: $diamonds;

    h1{
      @extend %section-title;
    }

    .container {
      height: 80vh;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .project {
    /*flex: 0 0 $project-size;*/
    padding: 0 3vw 0 3vw;
    h5 {
      text-align: center;
      font-family: $font-main;
      color: $off-white-2;
      font-size: 2vmin;
      margin-top: 2vh;
    }
    .macbook{
      width: 28vw;
    }
    .iphone{
      width: 11vw;
    }
  }


/* Section Five - Contact */
  #section-five {
    @extend %section;

    h1{
      @extend %section-title;
      font-family: $font-envelope;
      font-size: 10vmin;
      padding-top: 8vh;
    }
  }

  #envelope-fold-top {
    height: 60vh;
    background-color: $envelope-top;;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }

  #envelope-fold-shadow {
    height: 62vh;
    background: linear-gradient(to top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%);
    clip-path: polygon(0 0, 50.4% 100%, 100% 0);
  }

  #envelope-fold-bottom {
    position: fixed;
    z-index: -1;
    bottom: 0;
    height: 90vh;
    width: 100%;
    background-color: $envelope-bottom;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    p {
      position: fixed;
      left: 0;
      bottom: 1vh;
      width: 100%;
      text-align: center;
      font-family: $font-main;
      color: $off-white-2;
      font-size: 2vmin;
    };
  }

  #email {
    width: 100%;
    text-align: center;
    i {
      font-size: 12vmin;
      padding-left: 2vw;
      padding-right: 2vw;
      color: $social-media;
    }
    i:hover {
        color: $social-media-hover;
        transition-duration: 0.2s;
    }
  }

  #social-media {
    position: fixed;
    left: 0;
    bottom: 17vh;
    width: 100%;
    text-align: center;

    i {
      font-size: 9vmin;
      padding-left: 2vw;
      padding-right: 2vw;
      color: $social-media;
    }
    i:hover {
        color: $social-media-hover;
        transition-duration: 0.2s;
    }
  }

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}













@media screen and (max-width: 991px) {
/* start of large tablet styles */

}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
/* start of phone styles */

}
