/*DESKTOP STYLES*/
/* Global */
/* Colours */
/* Fonts */
/* Removes all margins, borders and padding globally */
* {
  margin: 0;
  border: 0;
  padding: 0; }

/* Sets scroll behaviour and snapping */
html {
  scroll-behavior: smooth; }

body {
  scroll-snap-type: y mandatory; }

/* Defines common attributes of each section */
#section-one, #section-two, #section-three, #section-four, #section-five {
  height: 100vh;
  overflow: scroll;
  scroll-snap-align: start; }

#section-two h1, #section-three h1, #section-four h1, #section-five h1 {
  font-family: Dosis, sans-serif;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  text-align: center;
  padding: 2vh; }

/* Section One - Landing */
#section-one {
  background-color: midnightblue;
  background-image: linear-gradient(180deg, #0B1463 0%, rgba(119, 118, 166, 0.28) 50%, rgba(238, 238, 238, 0.6) 97%), url("../images/SH Gaussian Blur.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#nav-div {
  height: 5vh; }

#nav-ul {
  display: flex;
  justify-content: center;
  list-style-type: none; }
  #nav-ul a {
    text-decoration: none;
    font-family: Varela Round, sans-serif;
    font-size: 12px;
    color: #969696;
    transition: color 0.3s; }
  #nav-ul a:visited {
    color: #969696; }
  #nav-ul a::before,
  #nav-ul a::after {
    display: inline-block;
    opacity: 0;
    /*-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;*/
    transition: transform 0.3s, opacity 0.2s; }
  #nav-ul a::before {
    margin-right: 10px;
    content: '[';
    /*-webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);*/
    transform: translateX(20px); }
  #nav-ul a::after {
    margin-left: 10px;
    content: ']';
    /*-webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);*/
    transform: translateX(-20px); }
  #nav-ul a:hover {
    color: white; }
  #nav-ul a:hover::before,
  #nav-ul a:hover::after,
  #nav-ul a:focus::before,
  #nav-ul a:focus::after {
    opacity: 1;
    /*-webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);*/
    transform: translateX(0px); }

.nav-element {
  padding: 20px; }

.container-landing {
  width: 100vw;
  display: flex; }

.container {
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex; }

#figurine {
  width: 42vw;
  background-image: url("../Inspiration/jon-exploded-face-on-1.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4vw;
  height: 95vh; }

#greeting {
  width: 58vw;
  margin-top: 5vh; }
  #greeting h1 {
    font-size: 17vmin;
    font-family: Noto Sans SC, sans-serif;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  #greeting h2 {
    color: #00ffe0;
    font-size: 10vmin;
    font-family: Varela Round, sans-serif;
    letter-spacing: 0.08em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
  #greeting h4 {
    color: #fffefc;
    font-size: 4.5vmin;
    font-family: Varela Round, sans-serif;
    line-height: 8vmin;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }

#text-offset {
  margin-left: 0.5vw;
  margin-top: 28vh; }

#noun-labels {
  margin-top: 4vh; }

.word {
  position: absolute;
  width: 50%;
  opacity: 0; }

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px; }

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.letter.behind {
  transform: rotateX(-90deg); }

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

/* Section Two - Who I Am */
#section-two {
  background-image: linear-gradient(170deg, #2f52b5 62%, #4267d1 62%); }

#blurb {
  height: 100%;
  width: 60vw;
  padding: 2em; }
  #blurb p {
    text-align: justify;
    font-family: Varela Round, sans-serif;
    color: #E3E3E3;
    font-size: 2vmin; }
  #blurb a {
    color: #FFC1C1;
    text-decoration: none; }
  #blurb a:hover {
    color: #FFB4B4; }
  #blurb a:visited {
    color: #FFC1C1; }

#snapshots {
  height: inherit;
  width: 40vw;
  position: relative;
  padding: 2em;
  /*object-fit: contain;*/ }

#snapshot-one, #snapshot-two, #snapshot-three {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*height:45vh;*/
  /*max-height: 100%;*/
  max-width: 90%;
  position: absolute;
  transform-origin: right; }

#snapshot-one {
  transform: scale(0.75) rotate(3.25deg);
  right: 8%;
  top: 1vw; }

#snapshot-two {
  transform-origin: left;
  transform: scale(0.65) rotate(-1.55deg);
  left: 8%;
  top: 26vh; }

#snapshot-three {
  transform: scale(0.45) rotate(5.95deg);
  right: 8%;
  top: 37vh; }

/* Section Three - Skill Set */
#section-three {
  background-image: linear-gradient(170deg, #292929 62%, #3D3D3D 62%); }
  #section-three .container {
    height: 80vh;
    align-content: space-around;
    flex-wrap: wrap; }

.skill {
  flex: 0 0 16vh;
  padding: 0 3vw 0 3vw; }
  .skill h5 {
    text-align: center;
    font-family: Varela Round, sans-serif;
    color: #E3E3E3;
    font-size: 2vmin;
    margin-top: 2vh; }

.png {
  width: 15vh; }

#pen-paper {
  color: #FFC1C1; }

/* Section Four - Projects */
#section-four {
  background-image: linear-gradient(170deg, #5CDB95 62%, #68EDA4 62%); }

/* Section Five - Contact */
#v-tail {
  height: 35vh;
  background-color: #68EDA4;
  clip-path: polygon(0 0, 50% 100%, 100% 0); }

@media screen and (max-width: 991px) {
  /* start of large tablet styles */ }
@media screen and (max-width: 767px) {
  /* start of medium tablet styles */ }
@media screen and (max-width: 479px) {
  /* start of phone styles */ }

/*# sourceMappingURL=styles.css.map */
